{% load static %}
{% load patient_filter %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sidebars.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
    <!-- pybo CSS -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
    <title>EMR</title>

</head>
<body>
{% include 'navbar.html' %}
<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 Start -->
<div class="container-fluid">
  <div class="row">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'patient:data1' patient_id=patient.id %}"><h3>운동</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><h3>가동범위</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><h3>물리치료</h3></a>
      </li>
    </ul>
  </div>
  <br>
  <div class="row">
      <div class="col-md-3">
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4">부위별 데이터</span>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto text-center">
            <li>
              <a href="{% url 'patient:data1' patient_id=patient.id %}" class="nav-link text-primary align-items-center text-decoration-none">
                개요
              </a>
            </li>
            <hr>
            <li>
              <a href="#" class="nav-link text-primary align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                목/허리
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='목-허리' type='스트레칭' %}">스트레칭</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='목-허리' type='가동성 운동' %}">가동성 운동</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='목-허리' type='소도구' %}">소도구</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='목-허리' type='근력 운동' %}">근력 운동</a></li>
              </ul>
            </li>
            <br>
            <li>
              <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                가슴/어깨
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='가슴-어깨' type='스트레칭' %}">스트레칭</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='가슴-어깨' type='가동성 운동' %}">가동성 운동</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='가슴-어깨' type='소도구' %}">소도구</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='가슴-어깨' type='근력 운동' %}">근력 운동</a></li>
              </ul>
            </li>
            <br>
            <li>
              <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                등/견갑대
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='등-견갑대' type='스트레칭' %}">스트레칭</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='등-견갑대' type='가동성 운동' %}">가동성 운동</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='등-견갑대' type='소도구' %}">소도구</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='등-견갑대' type='근력 운동' %}">근력 운동</a></li>
              </ul>
            </li>
            <br>
            <li>
              <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                상완/전완
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='상완-전완' type='스트레칭' %}">스트레칭</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='상완-전완' type='가동성 운동' %}">가동성 운동</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='상완-전완' type='소도구' %}">소도구</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='상완-전완' type='근력 운동' %}">근력 운동</a></li>
              </ul>
            </li>
            <br>
            <li>
              <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                대퇴사두/햄스트링
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='대퇴사두-햄스트링' type='스트레칭' %}">스트레칭</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='대퇴사두-햄스트링' type='가동성 운동' %}">가동성 운동</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='대퇴사두-햄스트링' type='소도구' %}">소도구</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='대퇴사두-햄스트링' type='근력 운동' %}">근력 운동</a></li>
              </ul>
            </li>
            <br>
            <li>
              <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                둔근/종아리
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='둔근-종아리' type='스트레칭' %}">스트레칭</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='둔근-종아리' type='가동성 운동' %}">가동성 운동</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='둔근-종아리' type='소도구' %}">소도구</a></li>
                <li><a class="dropdown-item" href="{% url 'patient:exercise_data' patient_id=patient.id part='둔근-종아리' type='근력 운동' %}">근력 운동</a></li>
              </ul>
            </li>
            <br>
          </ul>
          <hr>
      </div>
      </div>

      <div class="col-md-6">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <canvas id="partPie"></canvas>
            </div>
            <div class="col-md-6">

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="col-md-3">
          <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
              <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
              <span class="fs-4">{{patient.name}}</span>
              <a href="{% url 'patient:detail' patient.id %}" class="btn  btn-sm btn-outline-secondary">환자 홈</a></span>
            <hr>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{patient.front_resident|birth2:patient.back_resident}}</li>
              <li class="list-group-item">{{patient.back_resident|back2}}</li>
              <li class="list-group-item">{{patient.phone}}</li>
              <li class="list-group-item">{{patient.id|id_cut}}</li>
              <hr>
              <li class="list-group-item">{{patient.memo}}</li>
            </ul>
            <hr>
        </div>
      </div>
  </div>
  <div class="row">
    
  </div>
</div>
<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'sidebars.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap.bundle.js' %}"></script>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const partpie = document.getElementById('partPie');
const typepie = document.getElementById('typePie');

const data_part = {
labels: [
  '목/허리',
  '가슴/어깨',
  '등/견갑대',
  '상완/전완',
  '대퇴사두/햄스트링',
  '둔근/종아리'
],
datasets: [{
  label: 'partPie',
  data: [10, 10, 10, 10, 10, 10],
  backgroundColor: [
    'rgb(255, 99, 132)',
    'rgb(75, 192, 192)',
    'rgb(54, 162, 235)',
    'rgb(153, 102, 235)',
    'rgb(255, 159, 64)',
    'rgb(255, 205, 86)'
  ],
  hoverOffset: 4
}]
};

const config_part = {
type: 'pie',
data: data_part,
};
new Chart(typepie, config_part);
new Chart(partpie, config_part);
</script>
<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 End -->
<!-- Bootstrap JS -->
</body>
</html>

















