{% extends "base.html" %}
{% load patient_filter %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">운동목록</span>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto text-center">
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              목
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='목' type='스트레칭' %}">스트레칭</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='목' type='가동성 운동' %}">가동성 운동</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='목' type='소도구' %}">소도구</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='목' type='근력 운동' %}">근력 운동</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              허리
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='허리' type='스트레칭' %}">스트레칭</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='허리' type='가동성 운동' %}">가동성 운동</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='허리' type='소도구' %}">소도구</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='허리' type='근력 운동' %}">근력 운동</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              어깨
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='어깨' type='스트레칭' %}">스트레칭</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='어깨' type='가동성 운동' %}">가동성 운동</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='어깨' type='소도구' %}">소도구</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='어깨' type='근력 운동' %}">근력 운동</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              팔꿈치
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='팔꿈치' type='스트레칭' %}">스트레칭</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='팔꿈치' type='가동성 운동' %}">가동성 운동</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='팔꿈치' type='소도구' %}">소도구</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='팔꿈치' type='근력 운동' %}">근력 운동</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              손목
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='손목' type='스트레칭' %}">스트레칭</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='손목' type='가동성 운동' %}">가동성 운동</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='손목' type='소도구' %}">소도구</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='손목' type='근력 운동' %}">근력 운동</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              고관절
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='고관절' type='스트레칭' %}">스트레칭</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='고관절' type='가동성 운동' %}">가동성 운동</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='고관절' type='소도구' %}">소도구</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='고관절' type='근력 운동' %}">근력 운동</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              무릎
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='무릎' type='스트레칭' %}">스트레칭</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='무릎' type='가동성 운동' %}">가동성 운동</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='무릎' type='소도구' %}">소도구</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='무릎' type='근력 운동' %}">근력 운동</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              발목
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='발목' type='스트레칭' %}">스트레칭</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='발목' type='가동성 운동' %}">가동성 운동</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='발목' type='소도구' %}">소도구</a></li>
              <li><a class="dropdown-item" href="{% url 'patient:exercise_add' patient_id=patient.id part='발목' type='근력 운동' %}">근력 운동</a></li>
            </ul>
          </li>
          <br>
        </ul>
        <hr>
    </div>
    </div>

    <div class="col-md-5">
      <h2>운동 처방을 추가하세요</h2>
    </div>

    <div class="col-md-3">
      <div class="col-md-3">
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">{{patient.name}}</span>
          </a>
          <hr>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{patient.front_resident|birth2:patient.back_resident}}</li>
            <li class="list-group-item">{{patient.back_resident|back2}}</li>
            <li class="list-group-item">{{patient.phone}}</li>
            <li class="list-group-item">{{patient.id|id_cut}}</li>
            <li class="list-group-item">{{patient.memo}}</li>
          </ul>
          <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-border table-Secondary table-striped">
      <thead>
      <tr class="table-dark">
          <th scope="col">#</th>
          <th scope="col">운동 이름</th>
          <th scope="col">부위</th>
          <th scope="col">유형</th>
          <th scope="col">상태</th>
          <th scope="col">날짜</th>
          <th scope="col">+</th>
      </tr>
      </thead>
      <tbody>
      {% for exercise in exercise_list %}
      <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{exercise.exercise.name}}</td>
          <td>{{exercise.exercise.part.part}}</td>
          <td>{{exercise.exercise.type.type}}</td>
          <td>{% if exercise.done %} 완료 {% else %} 수행 전 {% endif %}</td>
          <td>{{exercise.date}}</td>
          <td><a class="btn btn-primary" href="{% url 'patient:detail' patient.id %}" role="button">상세</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}