{% extends "base.html" %}
{% load patient_filter %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">운동목록</span>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto text-center">
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              경추
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="{% url ''}">전굴</a></li>
              <li><a class="dropdown-item" href="#">후굴</a></li>
              <li><a class="dropdown-item" href="#">좌굴</a></li>
              <li><a class="dropdown-item" href="#">우굴</a></li>
              <li><a class="dropdown-item" href="#">좌회전</a></li>
              <li><a class="dropdown-item" href="#">우회전</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              흉/요추
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#">전굴</a></li>
              <li><a class="dropdown-item" href="#">후굴</a></li>
              <li><a class="dropdown-item" href="#">좌굴</a></li>
              <li><a class="dropdown-item" href="#">우굴</a></li>
              <li><a class="dropdown-item" href="#">좌회전</a></li>
              <li><a class="dropdown-item" href="#">우회전</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              어깨/견갑대
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#">굴곡</a></li>
              <li><a class="dropdown-item" href="#">신전</a></li>
              <li><a class="dropdown-item" href="#">외전</a></li>
              <li><a class="dropdown-item" href="#">내전</a></li>
              <li><a class="dropdown-item" href="#">내회전</a></li>
              <li><a class="dropdown-item" href="#">외회전</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              팔꿈치
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#">굴곡</a></li>
              <li><a class="dropdown-item" href="#">신전</a></li>
              <li><a class="dropdown-item" href="#">내회전</a></li>
              <li><a class="dropdown-item" href="#">외회전</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              손목
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#">굴곡</a></li>
              <li><a class="dropdown-item" href="#">신전</a></li>
              <li><a class="dropdown-item" href="#">요사위</a></li>
              <li><a class="dropdown-item" href="#">척사위</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              고관절
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#">굴곡</a></li>
              <li><a class="dropdown-item" href="#">신전</a></li>
              <li><a class="dropdown-item" href="#">외전</a></li>
              <li><a class="dropdown-item" href="#">내전</a></li>
              <li><a class="dropdown-item" href="#">내회전</a></li>
              <li><a class="dropdown-item" href="#">외회전</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              무릎
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#">굴곡</a></li>
              <li><a class="dropdown-item" href="#">신전</a></li>
            </ul>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              발목
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#">굴곡</a></li>
              <li><a class="dropdown-item" href="#">신전</a></li>
              <li><a class="dropdown-item" href="#">외반</a></li>
              <li><a class="dropdown-item" href="#">내반</a></li>
            </ul>
          </li>
          <br>
        </ul>
        <hr>
    </div>
    </div>

    <div class="col-md-5">
      <h1>폼 출력 페이지</h1>
    </div>

    <div class="col-md-3">
      <div class="col-md-3">
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">{{patient.name}}</span>
          </a>
          <hr>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{patient.front_resident|birth2:patient.back_resident}}</li>
            <li class="list-group-item">{{patient.back_resident|back2}}</li>
            <li class="list-group-item">{{patient.phone}}</li>
            <li class="list-group-item">{{patient.id|id_cut}}</li>
            <li class="list-group-item">{{patient.memo}}</li>
          </ul>
          <hr>
      </div>
    </div>
  </div>
</div>
{% endblock %}