{% extends "base.html" %}
{% load patient_filter %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-secondary mb-3 mt-3 ml-3" style="max-width: 18rem;">
              <div class="card-header">진료</div>
              <a href=""><img src="{% static '운동치료.jpg' %}" class="card-img-top"></a>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="card bg-secondary mb-3 mt-3 ml-3 mr-3" style="max-width: 18rem;">
              <div class="card-header">진료기록</div>
              <a href=""><img src="{% static '운동치료.jpg' %}" class="card-img-top"></a>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="card bg-secondary mb-3 mt-3 ml-3 mr-3" style="max-width: 18rem;">
              <div class="card-header">처방기록</div>
              <a href=""><img src="{% static '운동치료.jpg' %}" class="card-img-top"></a>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-info mb-3 mt-3 ml-3" style="max-width: 18rem;">
              <div class="card-header">운동처방</div>
              <a href="{% url 'patient:exercise' patient_id=patient.id selected_date=selected_date %}"><img src="{% static '운동치료.jpg' %}" class="card-img-top"></a>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="card bg-info mb-3 mt-3 ml-3 mr-3" style="max-width: 18rem;">
              <div class="card-header">기능평가</div>
              <a href="{% url 'patient:rom' patient.id %}"><img src="{% static '기능평가.jpg' %}" class="card-img-top"></a>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="card bg-info mb-3 mt-3 ml-3 mr-3" style="max-width: 18rem;">
              <div class="card-header">물리치료</div>
              <img src="{% static '운동치료.jpg' %}" class="card-img-top">
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-info mb-3 mt-3 ml-3 mr-3" style="max-width: 18rem;">
              <div class="card-header">환자 데이터(물리치료실)</div>
              <a href="{% url 'patient:data_index' patient.id %}"><img src="{% static '기능평가.jpg' %}" class="card-img-top"></a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4">{{patient.name}}</span>
          <span><a href="{% url 'patient:patient_modify' patient.id %}" class="btn  btn-sm btn-outline-secondary">수정</a>       <a href="{% url 'patient:memo' patient.id %}" class="btn  btn-sm btn-outline-success">메모</a></span>
        <hr>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{patient.front_resident|birth2:patient.back_resident}}</li>
          <li class="list-group-item">{{patient.back_resident|back2}}</li>
          <li class="list-group-item">{{patient.phone}}</li>
          <li class="list-group-item">{{patient.id|id_cut}}</li>
          <hr>
          <li class="list-group-item">{{patient.memo}}</li>
        </ul>
        <hr>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                운동치료
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{patient.exercise_memo}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                가동범위 검사
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{patient.rom_memo}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                물리치료
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{patient.clinic_memo}}
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}

