{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h5 class="my-3 border-bottom pb-2">환자정보입력</h5>
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">환자이름</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="환자이름" aria-describedby="basic-addon1" value="{{form.name.value}}" name="name">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="주민번호 앞자리" aria-label="Username", value="{{form.front_resident.value}}" name="front_resident">
            <span class="input-group-text">-</span>
            <input type="text" class="form-control" placeholder="1" aria-label="Server" value="{{form.back_resident.value}}" name="back_resident">
            <span class="input-group-text">******</span>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon7">전화번호</span>
            <input type="text" class="form-control" placeholder="010-1111-2222" aria-label="환자이름" aria-describedby="basic-addon7" value="{{form.phone.value}}" name="phone">
        </div>
        <div class="input-group">
            <span class="input-group-text">증상</span>
            <textarea class="form-control" aria-label="With textarea" name="memo">{{form.memo.value}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
{% endblock %}