{% extends "base.html" %}
{% load patient_filter %}
{% block content %}
{% load static %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">가동범위검사</span>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto text-center">
          <li>
            <a href="{% url 'patient:rom_form' patient_id=patient.id part='경추' %}" class="nav-link align-items-center text-decoration-none">
              경추
            </a>
          </li>
          <br>
          <li>
            <a href="{% url 'patient:rom_form' patient_id=patient.id part='흉요추' %}" class="nav-link align-items-center text-decoration-none">
              흉요추
            </a>
          </li>
          <br>
          <li>
            <a href="{% url 'patient:rom_form' patient_id=patient.id part='어깨' %}" class="nav-link align-items-center text-decoration-none">
              어깨
            </a>
          </li>
          <br>
          <li>
            <a href="{% url 'patient:rom_form' patient_id=patient.id part='팔꿈치' %}" class="nav-link align-items-center text-decoration-none">
              팔꿈치
            </a>
          </li>
          <br>
          <li>
            <a href="{% url 'patient:rom_form' patient_id=patient.id part='손목' %}" class="nav-link align-items-center text-decoration-none">
              손목
            </a>
          </li>
          <br>
          <li>
            <a href="{% url 'patient:rom_form' patient_id=patient.id part='고관절' %}" class="nav-link align-items-center text-decoration-none">
              고관절
            </a>
          </li>
          <br>
          <li>
            <a href="{% url 'patient:rom_form' patient_id=patient.id part='무릎' %}" class="nav-link align-items-center text-decoration-none">
              무릎
            </a>
          </li>
          <br>
          <li>
            <a href="{% url 'patient:rom_form' patient_id=patient.id part='발목' %}" class="nav-link align-items-center text-decoration-none">
              발목
            </a>
          </li>
          <br>
        </ul>
        <hr>
    </div>
    </div>

    <div class="col-md-6">
        <br>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">

              {% for field in form %}
              {% if field.errors %}
                {{ field.label }}, 
              {% endif %}
              {% endfor %}
              <strong>값을 입력하지 않았습니다.</strong>
            </div>
            {% endif %}
            <div class="row">
                <h4>{{part.part}} 가동범위</h4>
                <a href="{{exercise.link}}">{{exercise.link}}</a>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text"> 환자 이름 </span>
                    <input class="form-control" type="text" value={{patient.name}} readonly>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group mb-3">
                <span class="input-group-text">평가 날짜</span>
                <input class="form-control" name="date" type="date" value="{{form.date.value}}">
                </div>
              </div>
            </div>
            <div class="row">
              <img src="{% static part.part|add:'.png' %}" class="img-fluid">
            </div>
            <div class="row">
              {% if part.part == '경추' or part.part == '흉요추' %}
              {% for field in form %}
              {% if forloop.counter0 != 0 %}
              <div class="col-md-6">
                <div class="input-group">
                  <label class="input-label" for="{{field.name}}">{{field.name}}</label>
                  <br>
                  <div class="input-group">
                    <input class="form-control" id="{{field.name}}" name="{{field.name}}" type="number" min="0" value="{{form.value|default_if_none:'' }}">
                    <span class="input-group-text">°</span>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% elif part.part == '어깨' or part.part == '고관절' %}
              {% for field in form %}
              {% if forloop.counter0 != 0 %}
              <div class="col-md-6">
                <div class="input-group">
                  <label class="input-label" for="{{field.name}}">{{field.name}}</label>
                  <br>
                  <div class="input-group">
                    <input class="form-control" id="{{field.name}}" name="{{field.name}}" type="number" min="0" value="{{form.value|default_if_none:'' }}">
                    <span class="input-group-text">°</span>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% else %}
              {% for field in form %}
              {% if forloop.counter0 != 0 %}
              <div class="col-md-6">
                <div class="input-group">
                  <label class="input-label" for="{{field.name}}">{{field.name}}</label>
                  <br>
                  <div class="input-group">
                    <input class="form-control" id="{{field.name}}" name="{{field.name}}" type="number" min="0" value="{{form.value|default_if_none:'' }}">
                    <span class="input-group-text">°</span>
                  </div>
                </div>
              </div>
              <br>
              {% endif %}
              {% endfor %}

              {% endif %}
            </div>
            <br>
            <div class="row">
              <button type="submit" class="btn btn-primary">확인</button>
            </div>
            <br>
        </form>
    </div>

    <div class="col-md-3">
      <div class="col-md-3">
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">{{patient.name}}</span>
            <a href="{% url 'patient:detail' patient.id %}" class="btn  btn-sm btn-outline-secondary">환자 홈</a></span>
          </a>
          <hr>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{patient.front_resident|birth2:patient.back_resident}}</li>
            <li class="list-group-item">{{patient.back_resident|back2}}</li>
            <li class="list-group-item">{{patient.phone}}</li>
            <li class="list-group-item">{{patient.id|id_cut}}</li>
            <hr>
            <li class="list-group-item">{{patient.memo}}</li>
          </ul>
          <hr>
      </div>
    </div>
  </div>
  <div class="row">
    {% if part.part == '경추' or part.part == '흉요추' %}
    <table class="table table-border table-info table-striped">
      <thead>
      <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">flexion</th>
          <th scope="col">extension</th>
          <th scope="col">left_bending</th>
          <th scope="col">right_bending</th>
          <th scope="col">left_rotation</th>
          <th scope="col">right_rotation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>최근평가</td>
          <td>{{first.flexion}}°</td>
          <td>{{first.extension}}°</td>
          <td>{{first.left_bending}}°</td>
          <td>{{first.right_bending}}°</td>
          <td>{{first.left_rotation}}°</td>
          <td>{{first.right_rotation}}°</td>
      </tr>
      </tbody>
  {% elif part.part == '어깨' or part.part == '고관절' %}
    <table class="table table-border table-info table-striped">
      <thead>
      <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">flexion</th>
          <th scope="col">extension</th>
          <th scope="col">lateral_rotation</th>
          <th scope="col">medial_rotation</th>
          <th scope="col">abduction</th>
          <th scope="col">adduction</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>최근평가</td>
          <td>{{first.flexion_L}}° / {{first.flexion_R}}°</td>
          <td>{{first.extension_L}}° / {{first.extension_R}}°</td>
          <td>{{first.lateral_rotation_L}}° / {{first.lateral_rotation_R}}°</td>
          <td>{{first.medial_rotation_L}}° / {{first.medial_rotation_R}}°</td>
          <td>{{first.abduction_L}}° / {{first.abduction_R}}°</td>
          <td>{{first.adduction_L}}° / {{first.adduction_R}}°</td>
      </tr>
      </tbody>
    </table>
    {% elif part.part == '팔꿈치' %}
    <table class="table table-border table-info table-striped">
      <thead>
      <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">flexion</th>
          <th scope="col">extension</th>
          <th scope="col">pronation</th>
          <th scope="col">supination</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>최근평가</td>
          <td>{{first.flexion_L}}° / {{first.flexion_R}}°</td>
          <td>{{first.extension_L}}° / {{first.extension_R}}°</td>
          <td>{{first.pronation_L}}° / {{first.pronation_R}}°</td>
          <td>{{first.medial_supination_L}}° / {{first.supination_R}}°</td>
      </tr>
      </tbody>
    </table>
    {% elif part.part == '손목' %}
    <table class="table table-border table-info table-striped">
      <thead>
      <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">flexion</th>
          <th scope="col">extension</th>
          <th scope="col">ulnar_deviation</th>
          <th scope="col">radial_deviation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>최근평가</td>
          <td>{{first.flexion_L}}° / {{first.flexion_R}}°</td>
          <td>{{first.extension_L}}° / {{first.extension_R}}°</td>
          <td>{{first.ulnar_deviation_L}}° / {{first.ulnar_deviation_R}}°</td>
          <td>{{first.radial_deviation_L}}° / {{first.radial_deviation_R}}°</td>
      </tr>
      </tbody>
    </table>
    {% elif part.part == '무릎' %}
    <table class="table table-border table-info table-striped">
      <thead>
      <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">flexion</th>
          <th scope="col">extension</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>최근평가</td>
          <td>{{first.flexion_L}}° / {{first.flexion_R}}°</td>
          <td>{{first.extension_L}}° / {{first.extension_R}}°</td>
      </tr>
      </tbody>
    </table>
    {% elif part.part == '발목' %}
    <table class="table table-border table-info table-striped">
      <thead>
      <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">flexion</th>
          <th scope="col">extension</th>
          <th scope="col">inversion</th>
          <th scope="col">eversion</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>최근평가</td>
          <td>{{first.flexion_L}}° / {{first.flexion_R}}°</td>
          <td>{{first.extension_L}}° / {{first.extension_R}}°</td>
          <td>{{first.inversion_L}}° / {{first.inversion_R}}°</td>
          <td>{{first.eversion_L}}° / {{first.eversion_R}}°</td>
      </tr>
      </tbody>
    </table>
  {% endif %}
  </div>
</div>
{% endblock %}