{% load static %}
{% load patient_filter %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sidebars.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
    <!-- pybo CSS -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
    <title>EMR</title>

</head>
<body>
{% include 'navbar.html' %}
<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 Start -->
<div class="container-fluid">
  <div class="row">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'patient:data1' patient_id=patient.id %}"><h3>운동</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'patient:data2' patient_id=patient.id %}"><h3>가동범위</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><h3>물리치료</h3></a>
      </li>
    </ul>
  </div>
  <br>
  <div class="row">
      <div class="col-md-3">
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4">가동범위검사</span>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto text-center">
            <li>
              <a href="{% url 'patient:rom_graph' patient_id=patient.id part='경추' %}" class="nav-link align-items-center text-decoration-none">
                경추
              </a>
            </li>
            <br>
            <li>
              <a href="{% url 'patient:rom_graph' patient_id=patient.id part='흉요추' %}" class="nav-link align-items-center text-decoration-none">
                흉요추
              </a>
            </li>
            <br>
            <li>
              <a href="{% url 'patient:rom_graph' patient_id=patient.id part='어깨' %}" class="nav-link align-items-center text-decoration-none">
                어깨
              </a>
            </li>
            <br>
            <li>
              <a href="{% url 'patient:rom_graph' patient_id=patient.id part='팔꿈치' %}" class="nav-link align-items-center text-decoration-none">
                팔꿈치
              </a>
            </li>
            <br>
            <li>
              <a href="{% url 'patient:rom_graph' patient_id=patient.id part='손목' %}" class="nav-link align-items-center text-decoration-none">
                손목
              </a>
            </li>
            <br>
            <li>
              <a href="{% url 'patient:rom_graph' patient_id=patient.id part='고관절' %}" class="nav-link align-items-center text-decoration-none">
                고관절
              </a>
            </li>
            <br>
            <li>
              <a href="{% url 'patient:rom_graph' patient_id=patient.id part='무릎' %}" class="nav-link align-items-center text-decoration-none">
                무릎
              </a>
            </li>
            <br>
            <li>
              <a href="{% url 'patient:rom_graph' patient_id=patient.id part='발목' %}" class="nav-link align-items-center text-decoration-none">
                발목
              </a>
            </li>
            <br>
          </ul>
          <hr>
        </div>
      </div>
      <div class="col-md-6">
      {% if part == '경추' or part == '흉요추' %}
        <h4>{{part}} 가동범위</h4>
        <br>
        <h5>flexion, extension | Left</h5>
        <canvas id="line"></canvas>
        <hr>
        <h5>Right</h5>
        <canvas id="line3"></canvas>
      {% elif part == '어깨' or part == '고관절' %}
        <h4>{{part}} 가동범위</h4>
        <br>
        <h5>Left</h5>
        <canvas id="shoulderhipL"></canvas>
        <hr>
        <h5>Right</h5>
        <canvas id="shoulderhipR"></canvas>
      {% elif part == '발목' %}
        <h4>{{part}} 가동범위</h4>
        <br>
        <h5>Left</h5>
        <canvas id="ankleL"></canvas>
        <hr>
        <h5>Right</h5>
        <canvas id="ankleR"></canvas>
      {% elif part == '팔꿈치' %}
        <h4>{{part}} 가동범위</h4>
        <br>
        <h5>Left</h5>
        <canvas id="elbowL"></canvas>
        <hr>
        <h5>Right</h5>
        <canvas id="elbowR"></canvas>
      {% elif part == '무릎' %}
        <h4>{{part}} 가동범위</h4>
        <br>
        <h5>Left</h5>
        <canvas id="kneeL"></canvas>
        <hr>
        <h5>Right</h5>
        <canvas id="kneeR"></canvas>
      {% else %}
        <h4>{{part}} 가동범위</h4>
        <br>
        <h5>Left</h5>
        <canvas id="wristL"></canvas>
        <hr>
        <h5>Right</h5>
        <canvas id="wristR"></canvas>
      {% endif %}
      </div>
      <div class="col-md-3">
        <div class="col-md-3">
          <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
              <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
              <span class="fs-4">{{patient.name}}</span>
              <a href="{% url 'patient:detail' patient.id %}" class="btn  btn-sm btn-outline-secondary">환자 홈</a></span>
            <hr>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{patient.front_resident|birth2:patient.back_resident}}</li>
              <li class="list-group-item">{{patient.back_resident|back2}}</li>
              <li class="list-group-item">{{patient.phone}}</li>
              <li class="list-group-item">{{patient.id|id_cut}}</li>
              <hr>
              <li class="list-group-item">{{patient.memo}}</li>
            </ul>
            <hr>
          </div>
        </div>
      </div>
    </div>

</div>

<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'sidebars.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap.bundle.js' %}"></script>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  
    const line = document.getElementById('line');
    const line3 = document.getElementById('line3');

    const shoulderhipL = document.getElementById('shoulderhipL')
    const shoulderhipR = document.getElementById('shoulderhipR')

    const ankleL = document.getElementById('ankleL')
    const ankleR = document.getElementById('ankleR')

    const elbowL = document.getElementById('elbowL')
    const elbowR = document.getElementById('elbowR')

    const kneeL = document.getElementById('kneeL')
    const kneeR = document.getElementById('kneeR')

    const wristL = document.getElementById('wristL')
    const wristR = document.getElementById('wristR')

    const date_data = {{date_list|safe}};
    const flexion_data = {{flexions|safe}};
    const extension_data = {{extensions|safe}};
    const left_bending_data = {{left_bendings|safe}};
    const right_bending_data = {{right_bendings|safe}};
    const left_rotation_data = {{left_rotations|safe}};
    const right_rotation_data = {{right_rotations|safe}};

    const lateral_rotation_data = {{lateral_rotations|safe}};
    const medial_rotation_data = {{medial_rotations|safe}};
    const abduction_data = {{abductions|safe}};
    const adduction_data = {{adductions|safe}};

    const inversion_data = {{inversions|safe}};
    const eversion_data = {{eversions|safe}};

    const pronation_data = {{pronations|safe}};
    const supination_data = {{supinations|safe}};

    const ulnar_deviation_data = {{ulnar_deviations|safe}};
    const radial_deviation_data = {{radial_deviations|safe}};
    const option = {
  
    }
    
   
    
    const data = {
  labels: date_data,
  datasets: [{
    type: 'line',
    label: 'flexion',
    data: flexion_data[0],
    borderColor: 'rgb(255, 99, 132)',
    pointRadius: 7,
    pointBackgroundColor: 'rgb(255, 99, 132)',
  }, {
    type: 'line',
    label: 'extension',
    data: extension_data[0],
    borderColor: 'rgb(255, 159, 64)',
    pointRadius: 7,
    pointBackgroundColor: 'rgb(255, 159, 64)',
  }, {
    type: 'line',
    label: 'left_bending',
    data: left_bending_data,
    borderColor: 'rgb(75, 192, 192)',
    pointRadius: 7,
    pointBackgroundColor: 'rgb(75, 192, 192)',
  }, {
    type: 'line',
    label: 'left_rotation',
    data: left_rotation_data,
    borderColor: 'rgb(54, 162, 235)',
    pointRadius: 7,
    pointBackgroundColor: 'rgb(54, 162, 235)',
  }]
};
    
    const config = {
    type: 'line',
    data: data,
    options: option,
    };
   

    const data3 = {
  labels: date_data,
  datasets: [{
    type: 'line',
    label: 'right bending',
    data: right_bending_data,
    borderColor: 'rgb(255, 99, 132)',
    pointRadius: 7,
    pointBackgroundColor: 'rgb(255, 99, 132)',
  }, {
    type: 'line',
    label: 'left bending',
    data: right_rotation_data,
    borderColor: 'rgb(54, 162, 235)',
    pointRadius: 7,
    pointBackgroundColor: 'rgb(54, 162, 235)',
  }]
};
const config3 = {
    type: 'line',
    data: data3,
    options: option,
    };



const data_shoulderhipL = {
  labels: date_data,
  datasets: [{
    type: 'line',
    label: 'flexion',
    data: flexion_data[0],
    borderColor: '#3498db',
    pointRadius: 7,
    pointBackgroundColor: '#3498db',
  }, {
    type: 'line',
    label: 'extension',
    data: extension_data[0],
    borderColor: '#e74c3c',
    pointRadius: 7,
    pointBackgroundColor: '#e74c3c',
  }, {
    type: 'line',
    label: 'lateral rotation',
    data: lateral_rotation_data[0],
    borderColor: '#2ecc71',
    pointRadius: 7,
    pointBackgroundColor: '#2ecc71',
  }, {
    type: 'line',
    label: 'medial rotation',
    data: medial_rotation_data[0],
    borderColor: '#9b59b6',
    pointRadius: 7,
    pointBackgroundColor: '#9b59b6',
  }, {
    type: 'line',
    label: 'abduction',
    data: abduction_data[0],
    borderColor: '#e67e22',
    pointRadius: 7,
    pointBackgroundColor: '#e67e22',
  }, {
    type: 'line',
    label: 'adduction',
    data: adduction_data[0],
    borderColor: '#16a085',
    pointRadius: 7,
    pointBackgroundColor: '#16a085',
  }]
};
const config_shoulderhipL = {
    type: 'line',
    data: data_shoulderhipL,
    options: option,
    };

const data_shoulderhipR = {
  labels: date_data,
  datasets: [{
    type: 'line',
    label: 'flexion',
    data: flexion_data[1],
    borderColor: '#3498db',
    pointRadius: 7,
    pointBackgroundColor: '#3498db',
  }, {
    type: 'line',
    label: 'extension',
    data: extension_data[1],
    borderColor: '#e74c3c',
    pointRadius: 7,
    pointBackgroundColor: '#e74c3c',
  }, {
    type: 'line',
    label: 'lateral rotation',
    data: lateral_rotation_data[1],
    borderColor: '#2ecc71',
    pointRadius: 7,
    pointBackgroundColor: '#2ecc71',
  }, {
    type: 'line',
    label: 'medial rotation',
    data: medial_rotation_data[1],
    borderColor: '#9b59b6',
    pointRadius: 7,
    pointBackgroundColor: '#9b59b6',
  }, {
    type: 'line',
    label: 'abduction',
    data: abduction_data[1],
    borderColor: '#e67e22',
    pointRadius: 7,
    pointBackgroundColor: '#e67e22',
  }, {
    type: 'line',
    label: 'adduction',
    data: adduction_data[1],
    borderColor: '#16a085',
    pointRadius: 7,
    pointBackgroundColor: '#16a085',
  }]
};
const config_shoulderhipR = {
    type: 'line',
    data: data_shoulderhipR,
    options: option,
    };


const data_ankleL = {
  labels: date_data,
  datasets: [{
    type: 'line',
    label: 'flexion',
    data: flexion_data[0],
    borderColor: '#3498db',
    pointRadius: 7,
    pointBackgroundColor: '#3498db',
  }, {
    type: 'line',
    label: 'extension',
    data: extension_data[0],
    borderColor: '#e74c3c',
    pointRadius: 7,
    pointBackgroundColor: '#e74c3c',
  }, {
    type: 'line',
    label: 'inversion',
    data: inversion_data[0],
    borderColor: '#2ecc71',
    pointRadius: 7,
    pointBackgroundColor: '#2ecc71',
  }, {
    type: 'line',
    label: 'eversion',
    data: eversion_data[0],
    borderColor: '#e67e22',
    pointRadius: 7,
    pointBackgroundColor: '#e67e22',
  }]
};
const config_ankleL = {
    type: 'line',
    data: data_ankleL,
    options: option,
};
const data_ankleR = {
  labels: date_data,
  datasets: [{
    type: 'line',
    label: 'flexion',
    data: flexion_data[1],
    borderColor: '#3498db',
    pointRadius: 7,
    pointBackgroundColor: '#3498db',
  }, {
    type: 'line',
    label: 'extension',
    data: extension_data[1],
    borderColor: '#e74c3c',
    pointRadius: 7,
    pointBackgroundColor: '#e74c3c',
  }, {
    type: 'line',
    label: 'inversion',
    data: inversion_data[1],
    borderColor: '#2ecc71',
    pointRadius: 7,
    pointBackgroundColor: '#2ecc71',
  }, {
    type: 'line',
    label: 'eversion',
    data: eversion_data[1],
    borderColor: '#e67e22',
    pointRadius: 7,
    pointBackgroundColor: '#e67e22',
  }]
};
const config_ankleR = {
    type: 'line',
    data: data_ankleR,
    options: option,
};

const data_elbowL = {
  labels: date_data,
  datasets: [{
    type: 'line',
    label: 'flexion',
    data: flexion_data[0],
    borderColor: '#3498db',
    pointRadius: 7,
    pointBackgroundColor: '#3498db',
  }, {
    type: 'line',
    label: 'extension',
    data: extension_data[0],
    borderColor: '#e74c3c',
    pointRadius: 7,
    pointBackgroundColor: '#e74c3c',
  }, {
    type: 'line',
    label: 'pronation',
    data: pronation_data[0],
    borderColor: '#2ecc71',
    pointRadius: 7,
    pointBackgroundColor: '#2ecc71',
  }, {
    type: 'line',
    label: 'supination',
    data: supination_data[0],
    borderColor: '#e67e22',
    pointRadius: 7,
    pointBackgroundColor: '#e67e22',
  }]
};
const config_elbowL = {
    type: 'line',
    data: data_elbowL,
    options: option,
};
const data_elbowR = {
  labels: date_data,
  datasets: [{
    type: 'line',
    label: 'flexion',
    data: flexion_data[1],
    borderColor: '#3498db',
    pointRadius: 7,
    pointBackgroundColor: '#3498db',
  }, {
    type: 'line',
    label: 'extension',
    data: extension_data[1],
    borderColor: '#e74c3c',
    pointRadius: 7,
    pointBackgroundColor: '#e74c3c',
  }, {
    type: 'line',
    label: 'pronation',
    data: pronation_data[1],
    borderColor: '#2ecc71',
    pointRadius: 7,
    pointBackgroundColor: '#2ecc71',
  }, {
    type: 'line',
    label: 'supination',
    data: supination_data[1],
    borderColor: '#e67e22',
    pointRadius: 7,
    pointBackgroundColor: '#e67e22',
  }]
};
const config_elbowR = {
    type: 'line',
    data: data_elbowR,
    options: option,
};

const data_kneeL = {
  labels: date_data,
  datasets: [{
    type: 'line',
    label: 'flexion',
    data: flexion_data[0],
    borderColor: 'rgb(255, 99, 132)',
    pointRadius: 7,
    pointBackgroundColor: 'rgb(255, 99, 132)',
  }, {
    type: 'line',
    label: 'extension',
    data: extension_data[0],
    borderColor: 'rgb(54, 162, 235)',
    pointRadius: 7,
    pointBackgroundColor: 'rgb(54, 162, 235)',
  }]
};
const config_kneeL = {
    type: 'line',
    data: data_kneeL,
    options: option,
};
const data_kneeR = {
  labels: date_data,
  datasets: [{
    type: 'line',
    label: 'flexion',
    data: flexion_data[1],
    borderColor: 'rgb(255, 99, 132)',
    pointRadius: 7,
    pointBackgroundColor: 'rgb(255, 99, 132)',
  }, {
    type: 'line',
    label: 'extension',
    data: extension_data[1],
    borderColor: 'rgb(54, 162, 235)',
    pointRadius: 7,
    pointBackgroundColor: 'rgb(54, 162, 235)',
  }]
};
const config_kneeR = {
    type: 'line',
    data: data_kneeR,
    options: option,
};

const data_wristL = {
  labels: date_data,
  datasets: [{
    type: 'line',
    label: 'flexion',
    data: flexion_data[0],
    borderColor: '#3498db',
    pointRadius: 7,
    pointBackgroundColor: '#3498db',
  }, {
    type: 'line',
    label: 'extension',
    data: extension_data[0],
    borderColor: '#e74c3c',
    pointRadius: 7,
    pointBackgroundColor: '#e74c3c',
  }, {
    type: 'line',
    label: 'ulnar deviation',
    data: ulnar_deviation_data[0],
    borderColor: '#2ecc71',
    pointRadius: 7,
    pointBackgroundColor: '#2ecc71',
  }, {
    type: 'line',
    label: 'radial_deviation',
    data: radial_deviation_data[0],
    borderColor: '#e67e22',
    pointRadius: 7,
    pointBackgroundColor: '#e67e22',
  }]
};
const config_wristL = {
    type: 'line',
    data: data_wristL,
    options: option,
};
const data_wristR = {
  labels: date_data,
  datasets: [{
    type: 'line',
    label: 'flexion',
    data: flexion_data[1],
    borderColor: '#3498db',
    pointRadius: 7,
    pointBackgroundColor: '#3498db',
  }, {
    type: 'line',
    label: 'extension',
    data: extension_data[1],
    borderColor: '#e74c3c',
    pointRadius: 7,
    pointBackgroundColor: '#e74c3c',
  }, {
    type: 'line',
    label: 'ulnar deviation',
    data: ulnar_deviation_data[1],
    borderColor: '#2ecc71',
    pointRadius: 7,
    pointBackgroundColor: '#2ecc71',
  }, {
    type: 'line',
    label: 'radial_deviation',
    data: radial_deviation_data[1],
    borderColor: '#e67e22',
    pointRadius: 7,
    pointBackgroundColor: '#e67e22',
  }]
};
const config_wristR = {
    type: 'line',
    data: data_wristR,
    options: option,
};


{% if part == '경추' or part == '흉요추' %}
new Chart(line, config);
new Chart(line3, config3);
{% elif part == '어깨' or part == '고관절' %}
new Chart(shoulderhipL, config_shoulderhipL);
new Chart(shoulderhipR, config_shoulderhipR);
{% elif part == '발목' %}
new Chart(ankleL, config_ankleL)
new Chart(ankleR, config_ankleR)
{% elif part == '팔꿈치' %}
new Chart(elbowL, config_elbowL)
new Chart(elbowR, config_elbowR)
{% elif part == '무릎' %}
new Chart(kneeL, config_kneeL)
new Chart(kneeR, config_kneeR)
{% else %}
new Chart(wristL, config_wristL)
new Chart(wristR, config_wristR)
{% endif %}

</script>
</body>
</html>