{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
    <title>Welcome!</title>

    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
      }
    </style>
</head>
<body>
<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 Start -->
<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Login</h1>
      <br>
      <a class="btn btn-primary" role='button' href="{% url 'common:login' %}"><h5>로그인</h5></a>
      <br>
      <br>
      <a class="btn btn-secondary" role='button' href="{% url 'common:signup' %}"><h5>회원가입</h5></a>
    </div>
  </div>
</div>
<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 End -->
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>







