{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sidebars.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
    <!-- pybo CSS -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
    <title>EMR</title>

</head>
<body>
{% include 'navbar.html' %}
<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 Start -->
{% block content %}
{% endblock %}
<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 End -->
<!-- Bootstrap JS -->
<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'sidebars.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap.bundle.js' %}"></script>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
</body>
</html>
